.row
  .col.s12.m12
    .card-panel.white
      %span.black-text
        Icy Calendar is an open-source web application built using Ruby on Rails. If you are interested in collaborating please send email to
        %a{:href => "mailto:marciandmnd@gmail.com"} marciandmnd@gmail.com
