<div class="row">
  <div class="col s12 m12">
    <div class="card-panel white">
      <span class="black-text">Icy Calendar is an open-source web application built using Ruby on Rails. If you are interested in collaborating please send email to <a href="mailto:marciandmnd@gmail.com">marciandmnd@gmail.com</a>
        </span>
      </div>
  </div>
</div>
            
