<h3>Help</h3>
<p>Icy Calendar is used for fresh 'n clean appointment organization.</p>
<p>To add appointments to your calendar for a particular day, click the date number in the appropriate day cell. You will be taken to the appointment list for that day. Click the add appointment button to open up a form containing time and description options for the appointment. Hit 'create appointment'.</p>
