<div class="row">
<div class="col m6 offset-m3">
  <div class="card blue lighten-5" id='landingPageCard'>
    <div class="card-content black-text">
      <span class="card-title black-text">Organize Icy Style</span>
      <p>Interactive persistent calendar.</p>
    </div>
    <div class="card-action">
        <%= link_to "DEMO", demo_path, class: "waves-effect waves-light btn-large" %>
		<a class="waves-effect waves-light btn-large">Sign In</a>
    </div>
  </div>
</div>
</div>



