.row
  .col.m6.offset-m3
    #landingPageCard.card.blue.lighten-5
      .card-content.black-text
        %span.card-title.black-text Organize Icy Style
        %p Interactive persistent calendar.
      .card-action
        = link_to "DEMO", demo_path, class: "waves-effect waves-light btn-large"
        = link_to "Sign In", new_user_session_path, class:"waves-effect waves-light btn-large"
