.row
  .col.m6.offset-m3
    .card.blue.lighten-5
      .card-content.black-text
        %span.card-title.black-text Organize... Icy style!
        %p Interactive persistent calendar.
      .card-action
        = link_to "Sign in", new_user_session_path, class:"waves-effect waves-light btn-large"
