.calendar-navigation.flex.items-center
  .nav-el.btn.btn-floating.waves-effect.waves-light{data: {dir: 'prev'}} <
  %h4#month-name.m0.px1= Date::MONTHNAMES[@current_month.month].upcase
  .nav-el.btn.btn-floating.waves-effect.waves-light{data: {dir: 'next'}} >
  = link_to "<", calendar_path( @current_month.year-1, @current_month.month), id: 'prev-year-link', class: 'btn-floating waves-effect waves-light red'
  %h4#year.m0.px1= @current_month.year
  = link_to ">", calendar_path(@current_month.year+1, @current_month.month), id: 'next-year-link', class: 'btn-floating waves-effect waves-light red'

.input-field
  %select#view-select
    %option{:value => "month"} Month
    %option{:value => "week"} Week
    %option{:value => "day"} Day