/*
 *= require_tree .
 *= require_self
 */
 
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

select{
	display: inline!important;
}