.calendar-heading{
	> * {
		margin-right:10px;
	}
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
	text-align: center;
	h3{
		display: inline;	
	}
}
#calendar {
	td{
		width: 14.28%;
		padding: 40px 8px;
		border: 1px solid #eee;
		cursor: pointer;
		transition: background-color 0.2s ease-in;
		&:hover{
			background-color: lightblue;
		} 
		vertical-align: top;
	}

	.td-current-day{
		background-color: #F9BF3B;
		&:hover{
			background-color:orange!important;
		}
	}

	.td-other-month{
		background-color: #ECECEC;
	}

	.date-day-number {
		padding: 2px;
		border-bottom: 1px solid #eee;
		border-right: 1px solid #eee;
		a {
			color: #888;
		}
	}
}