// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#landingPageCard{
	text-align: center;
}

.pages.index{
	background-image: image-url('landing_page_bg.jpg')
}

#brand-logo{
  font-family: 'Lobster', cursive;
  margin-left:0.3em;
  font-size: 2em;
}