// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#landingPageCard{
	text-align: center;
}

.pages{
	background-image: image-url('landing_page_bg.jpg')
}

.page-footer{
  ul li a{
    color: white;
  }
}