.absolute { position: absolute; }
.relative { position: relative; }

.max-width-2 { width: 16em; }

.bg-white { background-color: white; }

.display-none { display: none; }

.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.p0 { padding: 0; }
.px1 { padding-left: 0.5rem; padding-right: 0.5rem; }

.mt1 { margin-top: 0.5rem; }
.mt2{ margin-top: 1rem; }
.mt3 { margin-top: 1.5rem;}
.mt4 { margin-top: 2rem; }
.mb4 { margin-bottom: 2rem; }

.fill-y { height: 100%; }

.flex { display: flex; }