.absolute { position: absolute; }

.relative { position: relative; }

.max-width-2 { width: 16em; }

.bg-white { background-color: white; }

.display-none { display: none; }

.top-0 { top: 0; }

.left-0 { left: 0; }

.p0 { padding: 0; }